<template>
  <div>
    <Servers
      :cServer="currentServer"
      @serverChanged="
        currentServer = $event;
        currentChannelMessages = [];
      "
      @loadServerData="loadData"
    />

    <div id="channels">
      <div id="channels-header">
        <h3>{{ currentServer.serverName }}</h3>
      </div>
      <div id="channels-container">
        <div id="text-title">
          <div style="float: left"><h6>Text Chats</h6></div>
          <div id="plus">
            <h6>
              <button
                class="btn btn-link"
                type="button"
                data-toggle="modal"
                data-target="#new-text-modal"
              >
                <i class="fas fa-plus"></i>
              </button>
            </h6>
          </div>
          <br />
        </div>
        <div>
          <div
            v-for="channel in currentServer.channels"
            :key="channel._id"
            id="text-channel"
          >
            <p
              :class="channel._id"
              v-on:click="changeCurrentChannel(channel._id)"
              v-if="channel.channelType == 'chat'"
            >
              {{ channel.name }}
            </p>
          </div>
        </div>
        <div id="voice-title">
          <div style="float: left"><h6>Voice Chats</h6></div>
          <div id="plus1">
            <h6>
              <button
                class="btn btn-link"
                type="button"
                data-toggle="modal"
                data-target="#new-voice-modal"
              >
                <i class="fas fa-plus"></i>
              </button>
            </h6>
          </div>
          <br />
        </div>

        <div>
          <div
            v-for="channel in currentServer.channels"
            :key="channel._id"
            id="voice-channel"
          >
            <p v-if="channel.channelType == 'voice'">{{ channel.name }}</p>
          </div>
        </div>
      </div>
      <div id="voice-chat">
        <div id="pannel">
          <div id="pannel-left">
            <div><h4>Connected</h4></div>
            <div>Voice-chat 1</div>
          </div>
          <div id="pannel-right">
            <p id="disconect">
              Disconect <i class="fa fa-times" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="new-text-modal"
        data-backdrop="false"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                New Text Chat
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span style="color: white" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form v-on:submit.prevent="addTextChannel" id="new-text-channel">
                <div>
                  <input
                    class="form-control"
                    type="text"
                    id="new-text-channel-title"
                    name="new-text-channel-title"
                    v-model="newTextChannel.name"
                    maxlength="25"
                    required
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                form="new-text-channel"
                class="btn btn-primary"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="new-voice-modal"
        data-backdrop="false"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                New Voice Chat
              </h5>
              <button
                type="submit"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span style="color: white" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form
                v-on:submit.prevent="addVoiceChannel"
                id="new-voice-channel"
              >
                <div>
                  <input
                    class="form-control"
                    type="text"
                    id="new-voice-channel-title"
                    name="new-voice-channel-title"
                    v-model="newVoiceChannel.name"
                    maxlength="25"
                    required
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                form="new-voice-channel"
                class="btn btn-primary"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="current-chat">
      <div id="chat-header">
        <h5>
          <div>
            <div style="float: left; width: 1000px">
              <span><i class="far fa-comment-alt"></i>&nbsp;&nbsp;</span>
              {{ currentChannel.name }}
            </div>
            <template v-if="currentChannel.name != 'General'">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="modal"
                data-target="#removeChannel"
              >
                <i class="fas fa-plus"></i>
              </button>
            </template>

            <div style="float: right; width: 40px; top: 100px">
              <div
                class="modal fade"
                id="removeChannel"
                data-backdrop="false"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-centered"
                  role="document"
                  style="width: 250px; margin: 0 auto; height: 100px"
                >
                  <div class="modal-content" style="background-color: #23272a">
                    <div class="modal-header" style="background-color: #23272a">
                      <h5
                        class="modal-title"
                        id="exampleModalLongTitle"
                        style="margin: 0; color: red"
                      >
                        Delete Channel?
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span style="color: white" aria-hidden="true"
                          >&times;</span
                        >
                      </button>
                    </div>
                    <div
                      class="modal-body"
                      style="background-color: #23272a; text-align: center"
                    >
                      <button
                        :onclick="removeChannel"
                        type="button"
                        class="btn btn-light"
                        style="width: 70px"
                      >
                        Yes
                      </button>
                    </div>
                    <div class="modal-footer"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </h5>
      </div>
      <div id="message-list">
        <div
          v-for="message in currentChannelMessages"
          :key="message.id"
          id="message"
        >
          <div>&nbsp;</div>
          <div id="message-header">
            <img
              id="message-user-icon"
              :src="'/users/' + users[message.author].image"
              alt=""
            />
            <div id="message-username">
              {{ users[message.author].username }}
            </div>
            <div id="message-date">{{ message.createdAt }}</div>
          </div>
          <div id="message-body">{{ message.text }}</div>
        </div>
      </div>
      <div id="message-input">
        <div class="publisher bt-1 border-light">
          <input
            name="text"
            class="publisher-input"
            type="text"
            placeholder="Write something"
            v-model="newMessage.text"
            v-on:keyup="sendMessageEnter"
          />
          <span class="publisher-btn file-group">
            <i class="fa fa-paperclip file-browser"></i> <input type="file" />
          </span>
          <a class="publisher-btn" href="#" data-abc="true"
            ><i class="fa fa-smile"></i
          ></a>
          <button :onclick="sendMessage" id="newMessageBtn">
            <a class="publisher-btn text-info" href="#" data-abc="true"
              ><i class="fa fa-paper-plane"></i
            ></a>
          </button>
        </div>
      </div>
    </div>
    <div id="users">
      <div id="channels-header">
        <h3>Users</h3>
      </div>

      <div id="user-list">
        <ul :key="user._id" v-for="user in serverUsers">
          <li id="{{user.username}}">
            <img id="user-icon" :src="'/users/' + user.image" alt="" />{{
              user.username
            }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 
<div class="container">
    
      <div id="successMsg" class="row justify-content-center 1">
        <div v-if="$route.params.successMsg" class="alert alert-success fade show" role="alert">
          <h6 >Log in successfull</h6>
        </div>
      </div>
      <button @click="getUserDetails"></button>
      <button @click="logUserOut"></button>
      <div style="color: white">
        
        {{user}}
      </div>

      <div>
        <img v-bind:src="user.image" alt="">
      </div>
</div>-->
</template>

<script>
import io from "socket.io-client";
import axios from "axios";
//import Vue from 'vue'
import Servers from "../components/Servers.vue";
//import VueJwtDecode from 'vue-jwt-decode'

export default {
  components: { Servers },
  name: "Main",
  data() {
    return {
      user: {},
      servers: [],
      currentServer: {},
      currentChannel: {},
      currentChannelId: null,
      currentChannelMessages: [],
      messages: [{}],
      users: [{}],
      serverUsers: [{}],
      musername: "",
      socket: io("https://localhost:4000"),
      newTextChannel: {
        name: "",
        channelType: "chat",
      },
      newVoiceChannel: {
        name: "",
        channelType: "voice",
      },
      newMessage: {
        text: "",
        author: "",
        serverId: "",
        channelId: "",
      },
    };
  },
  /*created() {
    let token = localStorage.getItem("jwt");
    var servers = []
      axios
      .get("https://localhost:4000/api/user/servers", {
        headers: { Authorization: token },
      })
      .then((response) => {
        servers = response.data;
        console.log(servers)
        
        
        
      });
    
    if (servers.length == 0) {
      this.$router.push("/servers");
    }
  },*/
  async beforeMount(){
    let token = localStorage.getItem("jwt");
    var servers = []
     await axios
      .get("https://localhost:4000/api/user/servers", {
        headers: { Authorization: token },
      })
      .then((response) => {
        servers = response.data;
        console.log(servers)
        
        
        
      });
    
    if (servers.length == 0) {
      this.$router.push("/servers");
    }
  },
  mounted() {
    
    
   setTimeout( () => {
      console.log("hola");
      console.log(this.currentServer);

     this.loadData();
      console.log(this.messages);
      console.log(this.currentChannelMessages);

    }, 400);

    setTimeout(function () {
      document.getElementById("successMsg").style.display = "none";
    }, 200);

    this.socket.on("newMsg", (message) => {
        console.log(message);
        this.currentChannelMessages.push(message);
      });
  },

  

  methods: {
     async loadData() {
      
      let token = localStorage.getItem("jwt");

      axios
        .get("https://localhost:4000/api/user/info", {
          headers: { Authorization: token },
        })
        .then((response) => {
          this.user = response.data;
        });

      if (this.currentServer.channels.length > 0) {
        this.currentChannel = this.currentServer.channels[0];
        this.currentChannelId = this.currentChannel._id;
        console.log(this.currentChannel);
      }

      await axios
        .get("https://localhost:4000/api/user/info/" + this.currentServer.id, {
          headers: { Authorization: token },
        })
        .then((response) => {
          this.serverUsers = response.data.admins.concat(response.data.users);

          let newUsers = response.data.users;
          let newAdmins = response.data.admins;
          for (var userKey in newUsers) {
            this.users[newUsers[userKey]._id] = newUsers[userKey];
          }
          for (userKey in newAdmins) {
            this.users[newAdmins[userKey]._id] = newAdmins[userKey];
          }

          console.log("USUARIOS");
          console.log(this.users);
        });

      await axios
        .get(
          "https://localhost:4000/api/messages/server/" + this.currentServer.id,
          {
            headers: { Authorization: token },
          }
        )
        .then((response) => {
          this.messages = response.data;
          console.log(this.messages);
        });

      console.log(this.messages);

      this.messages.forEach((msg) => {
        if (msg.channelId === this.currentChannelId) {
          this.currentChannelMessages.push(msg);
        }
        
      });
      this.socket.emit(
        "joinedTextChannel",
        this.currentServer.id + "@" + this.currentChannelId
      );
    },
    getUserDetails() {
      let token = localStorage.getItem("jwt");
      // let decoded = VueJwtDecode.decode(token);
      axios
        .get("https://localhost:4000/api/user/info", {
          headers: { Authorization: token },
        })
        .then((response) => {
          this.user = response.data;
        });
    },
    logUserOut() {
      localStorage.removeItem("jwt");
      this.$router.push("/login");
    },
    async addTextChannel() {
      var channel = {
        name: this.newTextChannel.name,
        channelType: "chat"
      };
      let token = localStorage.getItem("jwt");
      await axios.post(
        "https://localhost:4000/api/server/createChannel/" +
          this.currentServer.id,
        channel,
        {
          headers: { Authorization: token },
        }
      );
      this.newTextChannel.name = "";
      
     this.$router.go();
    
    },
    async addVoiceChannel() {
      var channel = {
        name: this.newVoiceChannel.name,
        channelType: "voice"
      };
      let token = localStorage.getItem("jwt");
      console.log(this.currentServer.id);
      console.log(channel.name);
      await axios.post(
        "https://localhost:4000/api/server/createChannel/" +
          this.currentServer.id,
        channel,
        {
          headers: { Authorization: token },
        }
      );
      this.newVoiceChannel.name = "";
      this.$router.go();
    },

    async removeChannel() {
      let token = localStorage.getItem("jwt");
      var channel = {
        channelId: this.currentChannel._id,
      };
      await axios.post(
        "https://localhost:4000/api/server/deleteChannel/" +
          this.currentServer.id,
        channel,
        {
          headers: { Authorization: token },
        }
      );
      console.log(this.currentChannelId);
      this.$router.go();
    },
   
    async changeCurrentChannel(id) {
      if (this.currentChannelId != id) {
        this.currentChannelId = id;
        console.log(id);
        this.currentServer.channels.forEach((element) => {
          if (this.currentChannelId == element._id) {
            this.currentChannel = element;
          }
        });
        this.currentChannelMessages = [];

        let token = localStorage.getItem("jwt");
        await axios
          .get(
            "https://localhost:4000/api/messages/server/" +
              this.currentServer.id,
            {
              headers: { Authorization: token },
            }
          )
          .then((response) => {
            this.messages = response.data;
          });

        this.messages.forEach((msg) => {
          if (msg.channelId === this.currentChannelId) {
            this.currentChannelMessages.push(msg);
          }
        });

        this.currentChannelMessages.forEach((element) => {
          console.log(element.text);
        });
        this.socket.emit(
          "joinedTextChannel",
          this.currentServer.id + "@" + this.currentChannelId
        );
        return this.currentChannelMessages;
      }
    },
    async sendMessage() {
      this.currentChannelMessages = [];
      let token = localStorage.getItem("jwt");
      this.newMessage.author = this.user._id;
      console.log(this.newMessage.author);
      this.newMessage.serverId = this.currentServer.id;
      this.newMessage.channelId = this.currentChannelId;
      let localNewMessage = {
        author: this.newMessage.author,
        serverId: this.newMessage.serverId,
        channelId: this.newMessage.channelId,
        text: this.newMessage.text,
        createdAt: new Date(),
      };
      axios
        .post("https://localhost:4000/api/messages/new/", localNewMessage, {
          headers: { Authorization: token },
        })
        .then(() => {
          console.log(this.currentServer.id + "@" + this.currentChannelId);
          this.socket.emit("newMsg", localNewMessage);
          console.log(this.currentChannelMessages);
          this.newMessage.text = "";
        });
    },

    sendMessageEnter: function (e) {
      if (e.keyCode === 13) {
        let token = localStorage.getItem("jwt");
        this.newMessage.author = this.user._id;
        console.log(this.newMessage.author);
        this.newMessage.serverId = this.currentServer.id;
        this.newMessage.channelId = this.currentChannelId;
        let localNewMessage = {
          author: this.newMessage.author,
          serverId: this.newMessage.serverId,
          channelId: this.newMessage.channelId,
          text: this.newMessage.text,
          createdAt: new Date(),
        };
        axios
          .post("https://localhost:4000/api/messages/new/", localNewMessage, {
            headers: { Authorization: token },
          })
          .then(() => {
            console.log(this.currentServer.id + "@" + this.currentChannelId);
            this.socket.emit("newMsg", localNewMessage);
            console.log(this.currentChannelMessages);
            this.newMessage = {};
          });
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Numans");
html,
body {
  background-color: #23272a;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

#servers {
  background-color: #2c2f33;
  width: 150px;
  height: 100%;
  position: fixed;
  overflow: scroll;
  box-sizing: border-box;
}

#server-header {
  box-sizing: border-box;
  height: 95px;
  box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
#server-list {
  height: 72%;
}

#server-item {
  height: 95px;
  margin-top: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#agora-icon {
  object-fit: cover;

  border-radius: 50%;
  height: 55px;
  width: 55px;
}

#server-icon {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

::-webkit-scrollbar {
  display: none;
}

#user {
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #23272a;
  box-sizing: border-box;
  display: flex;
  color: white;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.55);
}

#user-icon {
  margin-left: 0.34em;
  margin-top: 1em;
  object-fit: cover;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

#user-name {
  height: 65px;
  align-items: center;
  justify-content: center;
  background-color: #23272a;
  box-sizing: border-box;
  display: flex;
  color: white;
}

.dropbtn {
  color: white;

  padding: 0;
  border: none;
  background: none;
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#channels {
  background-color: #1c1f22;
  width: 350px;
  color: white;
  height: 100%;
  box-sizing: border-box;
  position: fixed;

  overflow: scroll;
  margin-left: 150px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
#channels-header {
  box-sizing: border-box;
  height: 95px;
  box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

#channels-container {
  height: 76.54%;
}
#voice-chat {
  background-color: #2c2f33;
  height: 100px;
}

#pannel-left {
  margin-top: 1em;
  width: 50%;
  float: left;
}

#pannel-left h4 {
  color: #4bb543;
}

#pannel {
  margin-left: 2.5em;
}
#pannel-right {
  width: 50%;
  float: right;
  margin-top: 2.2em;
  color: red;
}
#text-channel span {
  color: white;
}

#text-channel p:hover {
  width: 290px;
  color: white;
  cursor: pointer;
}

#voice-channel p:hover {
  width: 290px;
  color: white;
  cursor: pointer;
}
#text-title {
  margin-left: 2em;
  margin-top: 2em;
}

#plus {
  float: right;
  margin-right: 1.2em;
  margin-top: -0.59em;
  visibility: hidden;
}

#plus1 {
  float: right;
  margin-right: 1.2em;
  margin-top: -0.59em;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: -50px;
  margin-left: 1em;
  margin-right: 1em;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal-body {
  background-color: #2c2f33;
}

.modal-content {
  background-color: #2c2f33;
}

.btn-link,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  color: white;
}

.modal-footer .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #2a2b2c !important;
  border: none;
}

.modal-footer .btn-primary:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1) !important;
}
#newMessageBtn {
  padding: 0;
  border: none;
  background: none;
}
#text-title:hover #plus {
  cursor: pointer;
  visibility: visible;
}
#voice-title:hover #plus1 {
  cursor: pointer;
  visibility: visible;
}

#text-channel {
  color: grey;
  font-size: 96%;
  margin-left: 3.5em;
  margin-top: 1em;
}
#voice-title {
  margin-left: 2em;
  margin-top: 2em;
}

#voice-channel {
  color: grey;
  font-size: 96%;
  margin-left: 3.5em;
  margin-top: 1em;
}
#body {
  background-color: #23272a;
}

#current-chat {
  background-color: #23272a;
  width: 350px;
  color: white;
  height: 100%;
  box-sizing: border-box;
  position: fixed;

  overflow: scroll;
  margin-left: 150px;
  width: 1150px;
  color: white;
  height: 100%;
  position: absolute;
  margin-left: 500px;
}

#chat-header {
  box-sizing: border-box;
  height: 95px;
  box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: left;
}
#chat-header h5 {
  margin-left: 4em;
}
#chat-header span {
  margin-right: 0.4em;
}
#message-list {
  height: 82%;
  background-color: #2c2f33;

  overflow: scroll;
}

#message {
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  width: 1000px;

  margin-left: 1em;
}

#message-header {
  margin-left: 0.5em;
}

#message-header p {
  margin-left: 2.5em;
}
#message-body {
  margin-left: 3.35em;
  margin-top: 1.7em;
}
#message-username {
  margin-left: 2.8em;
  margin-bottom: -1.5em;
  color: Red;
}

#message-date {
  text-align: right;
  margin-bottom: -1.5em;
  color: grey;
}

#message-user-icon {
  object-fit: cover;
  margin-top: 0.2em;
  margin-bottom: -2.7em;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

#message-input {
  margin-top: 0.8em;
  align-items: center;
  justify-content: center;
}

.publisher {
  margin-left: 0.5em;
  margin-right: 0.5em;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9fafb;
}

.publisher > *:first-child {
  margin-left: 0;
}

.publisher > * {
  margin: 0 8px;
}

.publisher-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.file-group {
  position: relative;
  overflow: hidden;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #cac7c7;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.file-group input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 20px;
}

.text-info {
  color: #48b0f7 !important;
}

#users {
  background-color: #1c1f22;
  width: 270px;
  color: white;
  height: 100%;
  box-sizing: border-box;
  position: fixed;

  margin-left: 1650px;

  position: absolute;
}

#user-list {
  margin-top: 2em;

  list-style-type: none;
}

#user-list ul {
  list-style-type: none;
}

#user-list li {
  margin-top: 0.8em;
}

#user-list img {
  object-fit: cover;

  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-top: -0.18em;
  margin-right: 0.4em;
}
</style>