<template>
  <div class="container">
    <div style="float: right; color: white; margin-top: 4em">
      <i
        v-on:click="redirectToMain"
        id="cross"
        class="fa fa-times"
        aria-hidden="true"
      ></i>
    </div>
    <div class="row justify-content-center 1">
      <div class="column">
        <div class="title"></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center h-100">
        <div id="card" class="card">
          <div class="card-header justify-content-center">
            <h3>Create a Server</h3>
          </div>
          <div class="card-body">
            <form v-on:submit.prevent="create" id="form" method="post">
              <div class="container" id="">
                <div class="row">
                  <div class="col-8" id="esquerra">
                    <div
                      id="errorlist"
                      v-if="
                        errorsBD ==
                        'Error occurred trying to create a new server'
                      "
                    >
                      <div
                        class="alert alert-danger"
                        role="alert"
                        id="errorsBD"
                      >
                        {{ this.errorsBD }}
                      </div>
                    </div>

                    <label for="serverName">Server Name</label>
                    <div class="input-group form-group">
                      <input
                        type="text"
                        name="serverName"
                        v-model="newServer.serverName"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-4" id="dreta">
                    <div class="container">
                      <div class="row">
                        <label for="image">Server Icon</label>
                      </div>
                      <div class="row">
                        <div class="col-xs">
                          <span class="btn btn-default btn-file">
                            Add file
                            <input
                              type="file"
                              @change="onFileSelected"
                              id="image"
                              name="image"
                              class="form-control"
                            />
                          </span>
                        </div>
                      </div>
                      <div id="message" style="display: none">Image Added!</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" id="loginsave">
                <input type="submit" value="Create" id="login" class="btn login_btn" />
              </div>
            </form>
          </div>
          <div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="container">
        <div style="margin: auto; text-align: center; color : grey; margin: 0.5em">
          Or
        </div>
      </div>
      <div class="d-block justify-content-center h-100">
        <div id="card2" class="card">
          <div class="card-header justify-content-center">
            <h3>Join a Server</h3>
          </div>

          <div class="card-body">
            <!-- <div v-if="this.servers.length != 0" id="serversList">
                <div :key="server.id" v-for="server in this.servers" style="float: left">
                  <div id="uploadIcon">
                    <img id="icon" :src="server.image" alt="asdas" />
                  </div>
                </div>
            </div>
            <div v-else>
              ei
            </div> -->
            <div id="serversList">
              <div id="server" v-for="server in servers" :key="server._id">
                <div id="uploadIcon">
                  <div class="container " id="servercontainer">
                    <div class="row">
                      <div class="col-sm-3" >
                        <img
                          class="addicon"
                          id="icon"
                          src="../../public/xd.png"
                          alt="kha"
                        />
                      </div>
                      <div class="col-sm">
                        <p style="color: white; margin-top:0.9em; font-size: em" >{{server.serverName}}</p>
                      </div>
                      <div class="col-sm">
                       <button v-on:click="joinServer(server._id)" class="btn login_btn" id="join"> Join </button>

                      </div>
                    </div>
                  </div>
                  <div></div>
                </div>
              </div>
            </div> 
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import AuthenticationService from '@/services/AuthenticationService'
import axios from "axios";

export default {
  name: "NewServer",
  data() {
    return {
      user: {
        username: "",
        email: "",
        image: null,
      },
      newServer: {
        serverName: "",
        image: null,
      },
      servers: [{}],
      
      errorsBD: "",
    };
  },
  mounted() {
    let token = localStorage.getItem("jwt");
    // let decoded = VueJwtDecode.decode(token);
    axios
      .get("https://localhost:4000/api/user/info", {
        headers: { Authorization: token },
      })
      .then((response) => {
        this.user = response.data;
      });

    axios
      .get("https://localhost:4000/api/server/servers", {
        headers: { Authorization: token },
      })
      .then((response) => {
        this.servers = response.data;

        console.log(this.servers);
      });

    




  },
  methods: {
    onFileSelected(event) {
      this.newServer.image = event.target.files[0];

      document.getElementById("message").style.display = "";

      console.log(this.newServer.image);
    },
    async create() {
      const newserver = new FormData();

      newserver.append("serverName", this.newServer.serverName);

      if (this.newServer.image != null) {
        newserver.append("image", this.newServer.image);
      }

      console.log(this.newServer.image);
      let token = localStorage.getItem("jwt");
      axios
        .post("https://localhost:4000/api/server/create", newserver, {
          headers: { Authorization: token },
        })
        .then( async (response) => {
          console.log(response);
          var generalChat = {
            name : 'General',
            channelType : 'chat'
          }
          var voiceChat = {
            name : 'Voice-chat-1',
            channelType : 'voice'
          }
          await axios.post("https://localhost:4000/api/server/createChannel/" + response.data._id, generalChat, {
          headers: { Authorization: token },
          });

          await axios.post("https://localhost:4000/api/server/createChannel/" + response.data._id, voiceChat, {
          headers: { Authorization: token },
          });
          this.$router.push({ name: "Main", params: { successMsg: true } });
        })
        .catch((error) => {
          this.errorsBD = error.response.data;
          console.log(this.errorsBD);
        });
    },
    redirectToMain() {
      this.$router.push("/");
    },
    joinServer(key) {
      console.log(key)
          
      let token = localStorage.getItem("jwt");
      axios
        .get("https://localhost:4000/api/server/join/" + key, {
          headers: { Authorization: token },
        })
        .then((response) => {
          console.log(response.data)
         this.$router.push("/");
        })
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-color: #23272a;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}
#cross {
  font-size: 1.7em;
  cursor: pointer;
}

#card {
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 800px;
  background-color: #2f3136 !important;
}

ul,
li {
  list-style-type: none;
}
#loginsave {
  margin-top: 1.5em;
}
.social_icon span {
  font-size: 30px;
  margin-left: 10px;
  color: #1f222b;
}
#message {
  margin-left: 0.5em;
  margin-top: 0em;
  color: white;
  font-size: 1em;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
  margin-left: 5%;
}

#esquerra {
  border-right: 1px solid #6e7277;
  margin: auto;
  width: 50%;
}
.col-sm {
  margin: auto;
}
.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #1f222b;
  color: white;

  border: 0 !important;
}

.form-group {
  margin-left: 1%;
}
input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

#login {
  color: white;
  background-color: #1f222b;
  width: 100px;
  margin-top: 1.5em;
  margin-left: 43%;
}

#login:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
#image {
  width: 100%;
}

.title {
  margin-top: 130px;
  margin-bottom: 150px;
  color: white;
  font-size: 0.75cm;
  margin-right: 27px;
}

.title-icon {
  margin-top: 137px;
  margin-bottom: 100px;
  margin-right: 5px;
}

label {
  font-size: 25px;
  margin-left: 10px;
  color: white;
}



#logout {
  float: right;
  outline: none;
  padding-right: 1em;
  padding-bottom: 1em;
}

#icon {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;

  /*filter: invert();*/
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-top: 0em;
  margin-left: 0.8em;
  color: white;
  background-color: #6e7277;
  width: 120px;
}
.btn-file:hover {
  color: black;
  background-color: white;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  font-size: 100px;

  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
#card2 {
  display: block;
  min-height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 800px;
  background-color: #2f3136 !important;
}

#servercontainer {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  
}

#server {
  padding-bottom: 0.15em;
  padding-top: 0.15em;
}
#server:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  
}


#join {
  color: white;
  background-color: #1f222b;
  width: 100px;
 
}

#join:hover {
  color: black;
  background-color: white;
}
</style>
