<template>
    
    <div class="container">
      <div class="row justify-content-center 1">
        <div class="column">
          <div class="title-icon">
            <img src="../assets/icon.png" alt="agora-icon"
          />
          </div>
        </div>
        <div class="column">
          <div class="title">Agora</div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="d-flex justify-content-center h-100">
          <div id="card" class="card">
            <div class="card-header">
              <h3>Sign up</h3>
            </div>
            <div class="card-body">
              
              <form v-on:submit.prevent="validate" id="form" method="post">
                
                <ul id="errorlist" v-if="errorsBD.length != 0">
                  <li v-bind:key="item" v-for="item in errorsBD" >
                    <div class="alert alert-danger" role="alert" id="errorsBD">
                      {{item}}
                    </div>
                  </li>
                </ul>
                
                
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="username"
                    v-model="username"
                    required
                  />
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-at"></i
                    ></span>
                  </div>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="email"
                    v-model="email"
                    required
                  />
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-calendar"></i
                    ></span>
                  </div>
                  <input
                    type="date"
                    name="birthdate"
                    class="form-control"
                    placeholder="Birth date"
                    v-model="birthdate"
                    required
                  />
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-key"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="password"
                    v-model="password"
                    required
                  />
                </div>
                
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-key"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    name="password2"
                    class="form-control"
                    placeholder="repeat password"
                    v-model="password2"
                    required
                  />
                </div>

                <div class="form-group">
                  <input type="submit" value="Sign up" class="btn login_btn" />
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center links">
                Already have an account?<a href="/login">Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script> 
//import AuthenticationService from '@/services/AuthenticationService'
import axios from 'axios'


export default {
  name: 'SignUp',
  data() {
      return {
            username: '',
            email: '',
            birthdate: '',
            password: '',
            password2: '',
            errorsBD: []

      }
  },
  methods:{
    async register() {
      const user = {
        username: this.username,
        email: this.email,
        birthdate: this.birthdate,
        password: this.password
      }
      axios.post("https://localhost:4000/api/user/register", user)
      .then(response => {
        console.log(response.data);
                this.$router.push({name: 'LogIn', params: {successMsg: true}});

        
      })
      .catch(error => {
        this.errorsBD = []
        console.log(error)
        console.log(error.response.data);
        const errors = error.response.data;
        for (let index = 0; index < errors.length; index++) {
          this.errorsBD.push(errors[index].message)
          
        }
       
        if (this.errorsBD.length == 2) {
               document.getElementById("card").style.height = "560px"    
        }
        
      })
      
   
    },
    


    validate() {
     if (this.password != this.password2) {
       this.errorsBD = []
       this.errorsBD.push("Passwords don't match")   
     } else {
       this.register();
     }

    }
  
}}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-color: #23272a;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 500px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #1c1f22 !important;
}

ul, li {
  list-style-type: none;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #1f222b;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
margin-left: 34%;
width: 50%;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #1f222b;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #1f222b;
width: 100px;
margin-left: 34%;



}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.title {
    margin-top:130px;
    margin-bottom: 100px;
    color: white;
    font-size:1.5cm;
    margin-right: 27px;
}

.title-icon {
    margin-top:137px;
    margin-bottom: 100px;
    margin-right: 5px;
}

</style>
