<template>
  <div class="container">
    <div style="float: right; color: white; margin-top: 4em"><i v-on:click="redirectToMain" id="cross" class="fa fa-times" aria-hidden="true"></i></div>
    <div class="row justify-content-center 1">
      <div class="column">
        <div class="title"></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center h-100">
        <div id="card" class="card">
          <div class="card-header">
            <h3>Update your account credentials</h3>
          </div>
          <div class="card-body">
            <form v-on:submit.prevent="update" id="form" method="post">
              <div class="container">
                <div class="row">
                  <div class="col-8" id="esquerra">
                    <ul id="errorlist" v-if="errorsBD.length != 0">
                      <li v-bind:key="item" v-for="item in errorsBD">
                        <div
                          class="alert alert-danger"
                          role="alert"
                          id="errorsBD"
                        >
                          {{ item.message }}
                        </div>
                      </li>
                    </ul>

                    <label for="username">New Username</label>
                    <div class="input-group form-group">
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                         v-model="user.username"
                        
                        required
                      />
                    </div>
                    <label for="email">New Email</label>
                    <div class="input-group form-group">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        
                        v-model="user.email"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-4" id="dreta">
                    <div class="container">
                      <div class="row">
                        <div class="col-xs">
                          <div id="uploadIcon">
                            <img id="icon" v-bind:src="'/users/' + user.image" alt="" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs">
                          <span class="btn btn-default btn-file">
                            Add file <input type="file" 
                                            @change="onFileSelected"
                                            id="image"
                                            name="image"
                                            class="form-control"
                                            />
                          </span>
                        </div>
                      </div>
                      <div id="message" style="display: none" >
                        Image Added!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" id="loginsave">
                <input type="submit" value="Save" class="btn login_btn" />
              </div>
            </form>
          </div>
          <div>
          <div id="logout">
          <button  type="button" v-on:click="logUserOut" class="btn btn-outline-danger">Log out</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import AuthenticationService from '@/services/AuthenticationService'
import axios from "axios";

export default {
  name: "UpdateUserInfo",
  data() {
    return {
      user: {
        username: "",
        email: "",
        image: null,
      },
      errorsBD: [],
    };
  },
  mounted() {
    let token = localStorage.getItem("jwt");
    // let decoded = VueJwtDecode.decode(token);
    axios
      .get("https://localhost:4000/api/user/info", {
        headers: { Authorization: token },
      })
      .then((response) => {
        this.user = response.data;
      });
      
  },
  methods: {
     
    onFileSelected(event){
      this.user.image = event.target.files[0]
      document.getElementById("uploadIcon").style.display = "none";
      document.getElementById("message").style.display = "";
      console.log("b");
      console.log(this.user.image);
      console.log("a");
    },
    async update() {
      
      const newuser = new FormData();
      console.log(this.user.username);
      newuser.append("username", this.user.username);
      newuser.append("email", this.user.email);
      if(this.user.image != null) {
        newuser.append("image", this.user.image);
      }
      
      console.log(newuser.image);
       let token = localStorage.getItem("jwt");
      axios
        .post("https://localhost:4000/api/user/updateInfo", newuser, {headers: {'Authorization': token}})
        .then((response) => {
          console.log(response.data);

          this.$router.go()
        })
        .catch((error) => {
         this.errorsBD = []
          
        const errors = error.response.data;
        console.log(errors);
        
        for (let index = 0; index < errors.length; index++) {
          this.errorsBD.push(errors[index])
          
        }
       console.log(this.errorsBD);
          if (this.errorsBD.length == 1) {
            
            document.getElementById("card").style.height = "420px";
          }
          if (this.errorsBD.length == 2) {
            
            document.getElementById("card").style.height = "480px";
          }
        });
    },
    logUserOut() {
      localStorage.removeItem("jwt");
      this.$router.push("/login");
    },
    redirectToMain() {
      this.$router.push("/");
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-color: #23272a;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}
#cross{
font-size: 1.7em;
cursor: pointer;

} 

.card {
  height: 450px;
  margin-top: auto;
  margin-bottom: auto;
  width: 800px;
  background-color: #2f3136 !important;
}

ul,
li {
  list-style-type: none;
}
#loginsave {
  margin-top: 1.5em;
}
.social_icon span {
  font-size: 30px;
  margin-left: 10px;
  color: #1f222b;
}
#message {
  margin-left: 2.5em;
  margin-top: 3em;
  color: white;
  font-size: 1em;
  
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
  margin-left: 5%;
}

#esquerra {
  border-right: 1px solid #6e7277;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #1f222b;
  color: white;

  border: 0 !important;
}

.form-group {
  margin-left: 1%;
}
input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: white;
  background-color: #1f222b;
  width: 100px;
  margin-top: 1.5em;
  margin-left: 43%;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
#image {
  width: 100%;
}

.title {
  margin-top: 130px;
  margin-bottom: 150px;
  color: white;
  font-size: 0.75cm;
  margin-right: 27px;
}

.title-icon {
  margin-top: 137px;
  margin-bottom: 100px;
  margin-right: 5px;
}

label {
  font-size: 17px;
  margin-left: 10px;
  color: #6e7277;
}

#uploadIcon {
  text-align: center;
  display: block;
}

#logout {
  float: right; outline: none; padding-right: 1em; padding-bottom: 1em
}

#icon {
  margin-top: 1.3em;
  margin-left: 4.52em;
  border-radius:50%;
    height: 75px;
    width: 75px;
    object-fit:cover;

  /*filter: invert();*/
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-top: 1.4em;
  margin-left: 3.2em;
  color: white;
  background-color: #6e7277;
  width: 120px;
}
.btn-file:hover {
  color: black;
  background-color: white;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  font-size: 100px;

  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

</style>
