<template>
  
  <router-view/>
</template>
<style>
html,body{
background-color: #23272a;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
</style>
<script>
/*import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  
}*/
</script>


