<template>
  <div id="servers">
      <div id="server-header">
        <div id="agora-icon">
          <img id="agora-icon" src="icon.png" alt="agora-icon">
        </div>
      </div>
      <div id="server-list">
       <div id="servers-container">
         
        
        <div v-for="server in servers" :key="server.id" id="server-item">
          <div id="server-icon">
            <img id="server-icon" :src="'servers/' + server.image" alt="{{server.serverName}}" :class="server._id" v-on:click="getId">
          </div>
        </div>
        
        </div>
        <div id="addserver">
          <div id="server-item">
          <div style="border: 0.5px solid black;" id="server-icon">
            <img v-on:click="redirectToServers" class="addicon"  id="server-icon" src="crosss.png" alt="kha">
          </div>
        </div>
        </div>
      </div>
      
      <div id="user">
         
          <img id="user-icon" :src="'/users/' + user.image" alt="">
      </div>
      
      <div  id="user-name">
      <button v-on:click="redirectToUpdate" id="usernamebutton"><strong>{{user.username}} </strong> </button> 
       
      </div>

      
    </div>
</template>

<script>
import axios from 'axios';
//import $ from 'jquery';

export default {
  
  name: "Servers",
  props: ['cServer'],
  data() {
      return {
        user: {
            image: null
        },
        servers: {},

        currentServer: {},

        currentServerId: null
        
        
        
      };
    
  },
 async mounted() {
      let token = localStorage.getItem("jwt");
      // let decoded = VueJwtDecode.decode(token);
   await axios.get("https://localhost:4000/api/user/info", {
        headers: {'Authorization': token}
      }).then(  response => {
          this.user = response.data;
          this.user.image = response.data.image;
          console.log(this.user.image);
        
      })
    
      
      
   await axios.get("https://localhost:4000/api/user/servers", {
        headers: {'Authorization': token}
      }).then( response => {
          this.servers = response.data;
          
          console.log(this.servers);

          //this will show the first server as the default one before clicking one
          axios.get("https://localhost:4000/api/server/info/" + this.servers[0]._id, {
        headers: {'Authorization': token}
      }).then( response => {
          this.currentServer = response.data;
          
          console.log(this.currentServer);
        
          this.$emit('serverChanged', this.currentServer);
        
    
           
      })

          
          


        
      });
      

  },
  
  
  methods: {
    redirectToUpdate(){
    this.$router.push('/update'); 
    },
    redirectToServers(){
    this.$router.push('/servers'); 
    },
    getId: function(obj) {
          
           var id = obj.target.className;
           
            this.currentServerId = id;

            let token = localStorage.getItem("jwt");
      
      axios.get("https://localhost:4000/api/server/info/" + this.currentServerId, {
        headers: {'Authorization': token}
      }).then( response => {
          this.currentServer = response.data;
          
          console.log(this.currentServer);
           this.$emit('serverChanged', this.currentServer);
           this.$emit('loadServerData');
      })

            
           
    }
    
    
  },



}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Numans');
html, body{
background-color: #23272a;
background-size: cover;
background-repeat: no-repeat;
height:100%;
font-family: 'Trebuchet MS', sans-serif;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}



#servers {
    background-color: #2c2f33;
    width: 150px;
    height: 100%;
    position: fixed;
    overflow: scroll;
    box-sizing: border-box;
}

#server-header {
    box-sizing: border-box;
    height: 95px;
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
#server-list{
    height: 72%;
    overflow: scroll;
}
.addicon:hover {
    background-color: white;
    
}
#server-item {
   
    height: 95px;
    margin-top: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#agora-icon {
    object-fit:cover;
    
    border-radius:50%;
    height: 55px;
    width: 55px;
    
}

#server-icon {
    border-radius:50%;
    height: 75px;
    width: 75px; 
}
#server-icon:hover {
  cursor:pointer;
}

::-webkit-scrollbar {
    display: none;
  }

#user{
    
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #23272a;
    box-sizing: border-box;
    display: flex;
    color: white;
    box-shadow:  0 -5px 5px -5px rgba(0, 0, 0, 0.55);
    
}

#user-icon {
    margin-left:.34em;
    margin-top: 1em;
    object-fit:cover;
    border-radius:50%;
    height: 75px;
    width: 75px;

}

#user-name {
    
    height: 65px;
    align-items: center;
    justify-content: center;
    background-color: #23272a;
    box-sizing: border-box;
    display: flex;
    color: white;
}

#usernamebutton {
    padding: 0;
border: none;
background: none;
color: aliceblue;
cursor:pointer;
} 

#addserver {
    box-shadow: 0px -24px 3px -24px white;
    margin-top: 2em;
    

}

#server-icon:hover {
-ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}


</style>